{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
<div class="air__auth">
    <div class="pt-5 pb-5 d-flex align-items-end mt-auto">
        <img src="{% static 'components/core/img/air-logo.png'%}" alt="AIR UI Logo" />
        <div class="air__utils__logo__text">
            <div class="air__utils__logo__name text-uppercase text-dark font-size-21">AIR UI</div>
            <div class="air__utils__logo__descr text-uppercase font-size-12 text-gray-6">
                POS System
            </div>
        </div>
    </div>
    <div class="air__auth__container pl-5 pr-5 pt-5 pb-5 bg-white text-center">
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Well done!</strong> {{ message }}
                    <a href="index" class="alert-link">Login</a>
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Error - </strong> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="text-dark font-size-30 mb-4">Log In</div>
        <form action="index" method="post" class="mb-4">
            {% csrf_token %}
            <div class="form-group mb-4">
                <input type="text" name="username" class="form-control" placeholder="Username" />
            </div>
            <div class="form-group mb-4">
                <input type="password" name="password" class="form-control" placeholder="Password" />
            </div>
            <button type="submit" class="text-center btn btn-success w-100 font-weight-bold font-size-18">
                Log In
            </button>
        </form>
        <a
                href="#"
                class="air__auth__googleSign font-weight-bold font-size-18 text-dark btn btn-outline-light w-100 mb-3"
        >Log in with Google</a
        >
        <a href="#" class="text-blue font-weight-bold font-size-18">Forgot password?</a>
    </div>
    <div class="text-center font-size-18 pt-4 mb-auto">
        Don't have an account?
        <a href="signup" class="font-weight-bold text-blue text-underlined"><u>Sign Up</u></a>
    </div>
    {% include 'footer.html' %}
</div>
</body>
</html>